<ion-content [fullscreen]="true">
  <div id="container">
    <div class="water">
      <div class="fill" [ngStyle]="{ height: altura + '%' }"></div>
    </div>
    <div>Quantidade atual: {{ quantidadeAtual }} </div>
    <div>Meta diária: {{ metaDiaria }} </div>
    <div class="buttons">
      <ion-button fill="outline" color="medium" (click)="metaAlert()">Definir meta diária</ion-button>
      <ion-button fill="outline" color="medium" (click)="quantidadeAtualAlert()">Corrigir quantidade atual</ion-button>
      <ion-button fill="outline" color="medium" (click)="addQuantidade(473)">Add 473ml</ion-button>
      <ion-button fill="outline" color="medium" (click)="addQuantidade(500)">Add 500ml</ion-button>
      <ion-button fill="outline" color="medium" (click)="addQuantidade(1000)">Add 1L</ion-button>
    </div>
  </div>
</ion-content>